.container {
    width: 100%; /* Utilisation de 100% de la largeur de l'écran */
}

.column {
    width: calc(100% / 3); /* Les colonnes occupent 1/3 de la largeur */
    vertical-align: top; /* Aligner le contenu en haut de chaque cellule */
     /* Ajout d'une bordure droite entre les colonnes */
    
}

.column:last-child {
    border-right: none; /* Supprimer la bordure droite de la dernière colonne */
}
.article img {
    max-width: calc(100% / 3); /* Définir la largeur maximale de l'image */
    max-height: calc(100% / 3); /* Définir la hauteur maximale de l'image */
}